# Student Success Classification

This notebook is intended to be a place where our team experiments, works with, and models the data. Our goal is to classify the status of students between 3 distinct classes:
1. Drop out
2. Graduated
3. Enrolled

There are 36 features to predict this including demographic information, academic information, financial information, and a few economic indicators.

In [6]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
predict_students_dropout_and_academic_success = fetch_ucirepo(id=697) 
  
# data (as pandas dataframes) 
X = predict_students_dropout_and_academic_success.data.features 
y = predict_students_dropout_and_academic_success.data.targets 
  
# metadata 
# print(predict_students_dropout_and_academic_success.metadata) 
  
# variable information 
# print(predict_students_dropout_and_academic_success.variables) 
pd.DataFrame(predict_students_dropout_and_academic_success.variables).to_csv("", index=False)

,name,role,type,demographic,description,units,missing_values
0,Marital Status,Feature,Integer,Marital Status,1 – single 2 – married 3 – widower 4 – divorce...,None,no
1,Application mode,Feature,Integer,None,1 - 1st phase - general contingent 2 - Ordinan...,None,no
2,Application order,Feature,Integer,None,Application order (between 0 - first choice; a...,None,no
3,Course,Feature,Integer,None,33 - Biofuel Production Technologies 171 - Ani...,None,no
4,Daytime/evening attendance,Feature,Integer,None,1 – daytime 0 - evening,None,no
5,Previous qualification,Feature,Integer,Education Level,1 - Secondary education 2 - Higher education -...,None,no
6,Previous qualification (grade),Feature,Continuous,None,Grade of previous qualification (between 0 and...,None,no
7,Nacionality,Feature,Integer,Nationality,1 - Portuguese; 2 - German; 6 - Spanish; 11 - ...,None,no
8,Mother's qualification,Feature,Integer,Education Level,1 - Secondary Education - 12th Year of Schooli...,None,no
9,Father's qualification,Feature,Integer,Education Level,1 - Secondary Education - 12th Year of Schooli...,None,no
10,Mother's occupation,Feature,Integer,Occupation,0 - Student 1 - Representatives of the Legisla...,None,no
11,Father's occupation,Feature,Integer,Occupation,0 - Student 1 - Representatives of the Legisla...,None,no
12,Admission grade,Feature,Continuous,None,Admission grade (between 0 and 200),None,no
13,Displaced,Feature,Integer,None,1 – yes 0 – no,None,no
14,Educational special needs,Feature,Integer,None,1 – yes 0 – no,None,no
15,Debtor,Feature,Integer,None,1 – yes 0 – no,None,no
16,Tuition fees up to date,Feature,Integer,None,1 – yes 0 – no,None,no
17,Gender,Feature,Integer,Gender,1 – male 0 – female,None,no
18,Scholarship holder,Feature,Integer,None,1 – yes 0 – no,None,no
19,Age at enrollment,Feature,Integer,Age,Age of studend at enrollment,None,no
20,International,Feature,Integer,None,1 – yes 0 – no,None,no
21,Curricular units 1st sem (credited),Feature,Integer,None,Number of curricular units credited in the 1st...,None,no
22,Curricular units 1st sem (enrolled),Feature,Integer,None,Number of curricular units enrolled in the 1st...,None,no
23,Curricular units 1st sem (evaluations),Feature,Integer,None,Number of evaluations to curricular units in t...,None,no
24,Curricular units 1st sem (approved),Feature,Integer,None,Number of curricular units approved in the 1st...,None,no
25,Curricular units 1st sem (grade),Feature,Integer,None,Grade average in the 1st semester (between 0 a...,None,no
26,Curricular units 1st sem (without evaluations),Feature,Integer,None,Number of curricular units without evalutions ...,None,no
27,Curricular units 2nd sem (credited),Feature,Integer,None,Number of curricular units credited in the 2nd...,None,no
28,Curricular units 2nd sem (enrolled),Feature,Integer,None,Number of curricular units enrolled in the 2nd...,None,no
29,Curricular units 2nd sem (evaluations),Feature,Integer,None,Number of evaluations to curricular units in t...,None,no
30,Curricular units 2nd sem (approved),Feature,Integer,None,Number of curricular units approved in the 2nd...,None,no
31,Curricular units 2nd sem (grade),Feature,Integer,None,Grade average in the 2nd semester (between 0 a...,None,no
32,Curricular units 2nd sem (without evaluations),Feature,Integer,None,Number of curricular units without evalutions ...,None,no
33,Unemployment rate,Feature,Continuous,None,Unemployment rate (%),None,no
34,Inflation rate,Feature,Continuous,None,Inflation rate (%),None,no
35,GDP,Feature,Continuous,None,GDP,None,no
36,Target,Target,Categorical,None,Target. The problem is formulated as a three c...,None,no

## Importing the data

In [3]:
%%bash
ls data

Impact-mobile-phone-students.csv
student-dropout-academic-success.csv
student-performance.csv

In [3]:
import pandas as pd

# importing data and insuring columns were read in correctly
raw_data = pd.read_csv("data/student-dropout-academic-success.csv", delimiter=";")
raw_data.columns = raw_data.columns.str.strip()
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

## Brief Look at the Data

In [4]:
# looking at target column
raw_data.Target.value_counts()

Graduate    2209
Dropout     1421
Enrolled     794
Name: Target, dtype: int64

In [6]:
raw_data.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

## Looking column by column

In [13]:
df = raw_data.copy()  # copying data to create a working copy
df.columns = df.columns.str.replace(" ", "_").str.lower()

1. Marital Status

In [14]:
df.marital_status.value_counts().sort_index()

1    3919
2     379
3       4
4      91
5      25
6       6
Name: marital_status, dtype: int64